<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovieService" />
                <binding name="BasicHttpBinding_IReviewService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MovieService/MovieService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovieService"
                contract="ServiceReference1.IMovieService" name="BasicHttpBinding_IMovieService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ReviewsAndPeopleService/ReviewsAndPeopleService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewService"
                contract="ServiceReference2.IReviewService" name="BasicHttpBinding_IReviewService" />
        </client>
    </system.serviceModel>
</configuration>